.example-spacer {
    flex: 1 1 auto;
  }
  
  
  .main-div {
    padding: 10px;
  }
  
  mat-toolbar {
    background-color: white;
    color: black;
  }
  
  .mg-left {
    margin-left: 2%;
  }
  
  .assign {
    width: 50%;
    margin-right: 5%;
  }
  