.example-spacer {
  flex: 1 1 auto;
}

.admin-btn {
  background-color: white;
  color: black;
}

.main-div {
  padding: 10px;
}

mat-toolbar {
  background-color: white;
  color: black;
  height: 5rem;
}

.mg-left {
  margin-left: 2%;
}

.assign {
  width: 50%;
  margin-right: 5%;
}

.card {
  margin: 1%;
  width: 90%;
  padding: 10px;
}

.rightborder {
  border-right: 1px solid;
  margin-right: 2%;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
}

.add-btn {
  background: #3f51b5;
  color: white;
}

.center-align {
  display: flex;
  align-items: center;

}
